body {
  overflow-x: hidden;
  margin: 0;
	}

p {
text-align:left;
	}
li{
		color:#000;
	}

.videos-lg{
	border: solid 8px #df900f;
	border-radius: 18px;
	margin: 0 auto;
	max-width:800;
	height:450;
}

.img-lg{
	float: left;
	width: 380px;
	display:inline-block;
	padding: 12px;
}

.cor-link a{
	color:#7d3c05;
	font-weight: 400;
	
}

.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}


.accordion {
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border: 1px solid #e8e8e8;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion label {
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: #e8e8e8;
}

.accordion label:hover,
.accordion label:focus {
  background: #d8d8d8;
}

.accordion .handle label:before {
  font-family: 'fontawesome';
  content: "\f054";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  content: "\f078";
}


.accordion {
  max-width: 65em;
}

.accordion p:last-child {
  margin-bottom: 0;
}


@media only screen and (max-width: 700px) {

.videos-lg{
	max-width: 380px;
	height: 214;
}
.img-lg{
	width: 100%;
	height:315;
	}
}
