body {
  overflow-x: hidden;
  margin: 0;
	}

p {
text-align:left;
	}
li{
		color:#000;
	}

.videos-lg{
	border: solid 8px #df900f;
	border-radius: 18px;
	margin: 0 auto;
	width:100%;
	max-width:560;
	height:315;
}

.img-lg{
	float: left;
	width: 380px;
	display:inline-block;
	padding: 12px;
}


@media only screen and (max-width: 700px) {

.videos-lg{
	width:100%;
	height: 214;
}
.img-lg{
	width: 100%;
	height:315;
	}
}
